@CHARSET "ISO-8859-1";
.errorMessage {
	color: red;
} 
a:link {color:black;text-decoration:none;}    /* unvisited link */
a:visited {color:black;text-decoration:none;} /* visited link */
a:hover {color:black;text-decoration:underline;}   /* mouse over link */
a:active {color:black;text-decoration:underline;}  /* selected link */

.div welcome{
	background-color:#F0F0F0;
	border:1px solid #CCC;
	align:center;
}

.not_implemented{
	color:gray;
	font-color:gray;
}